html {
    background-color: #351F3B;
    line-height: 1.7;
  }

header {
    padding-top:200px;
    color: #fff;

    background-repeat: no-repeat;
    text-align: center;
    box-sizing: border-box
    
  }
  
  header h1 {
    margin: 0;
    font-weight: normal;
    text-align: center;
    background-color: #19051F;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
  }
  
  header p {
    font-size: 150%;
    margin: 20px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif
  }
  
  /* Site Navigation */
  .site-nav {
    margin-top: 1.5%;
  }
  
  .site-nav ul {
    margin-right: 40%;
    padding: 0;
  }
  
  .site-nav li {
    list-style: none;
    float: right;
    margin-left: 1.5%;
  }
  
  .site-nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    background-color: #19051F;
    transition-property: color, background-color;
    transition-duration: 2s;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
  }
  
  .site-nav a:hover {
    background-color: #fff;
    color: #2c465a;
  }
  
  @media screen and (max-width: 1023px) {
    .site-nav li {
      width: 33.332%;
      margin-right: 0;
    }
    .site-nav ul {
      margin-right: 25%;
      padding: 0;
    }
  
    .site-nav a {
      padding: 15px 0;
      margin-right: 5px;
      margin-bottom: 5px;
      text-align: center;


    }
  }